//**********FEATURE BODY************
$color_body: rgb(35, 33, 33);
//***********FEATURE****************
$color_text: white;
$shadow_text: white;


//**************VARIABLES MARKET*************
$color_titleMarket: antiquewhite;
$color_borderSections: antiquewhite;
$color_sectionProducts: rgb(244, 13, 221);
$color_itemsProduct: wheat;
$color_shadow_items: white;
$color_shadow_items_change: rgb(228, 3, 191);
$color_icony_border: wheat;
$color_backcolor_btn: blueviolet;
$color_shadow_btn: rgb(228, 3, 191);
$color_input: wheat;
$color_btn_input: wheat;
$color_backBtn: rgb(212, 20, 212);
$color_sectionBasquet:  rgb(244, 13, 221);
$color_buyItems: greenyellow;
$color_shadow_buyItems: rgb(54, 255, 47);
$color_borderIcoBuy: white;
$color_numberItemsBuy: white;
$color_numberItems: black;
$color_pricesBuy: wheat;
$color_deleteBuy: rgb(250, 75, 75);
$color_titleBuy: aqua;
$color_shadow_titleBuy: aqua;
$color_h2: aqua;
$color_price: wheat;
$color_h3: wheat;
$color_shadowNumberItem: white;
$color_btnInicio: rgb(190, 190, 190);
$color_shadow_btnInicio: aqua;
$colorBtnFont: rgb(23, 23, 23);
$color_shadow_btnHInicio: rgb(255, 255, 255);
$color_btnHInicio: rgb(10, 225, 240);

$color_shadow_btnInicioCalcu: wheat;